@media screen and (min-width: 1024px) {
    .form {
        width: 500px;
    }
}


@media screen and (max-width: 1023px) {
    body {
        padding: 20px; 
    }
    .form {
        width: 80%; 
        max-width: 400px; 
    }
}


@media screen and (max-width: 600px) {
    body {
        padding: 10px; 
    }
    .form {
        width: 90%; 
        max-width: 300px; 
    }
}
@media screen and (max-width: 600px) {
    select {
        font-size: medium; 
    }
}